.box1{
    margin:25px;
    height: 50px;
    width: 50px;
    border:solid;
}
.box2{
    margin: 25px;
    height: 250px;
    width: 250px;
    border:solid;
}
@media(min-width: 800px){
    .container1{
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: auto;
        margin:25px;
        border:solid;
    }
    .container2{
        display:flex;
    }
    .box1{
        margin:25px;
        height: 50px;
        width: 50px;
        border:solid;
    }
    .box2{
        margin: 25px;
        height: 500px;
        width:50%;
        border:solid;
    }
}